.container2 {
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.search-box {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.results {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #9a00b9;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button:hover {
  background-color: #5d0070;
}
button:active {
  background-color: #5d0070;
  transform: translateY(2px);
}
.results .card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start; /* Align contents to the left */
  flex-direction: row; /* Add this line */
  width: 700px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}
.card img {
  margin-right: 20px;
  border-radius: 50%;
  width: 80px; /* Adjust the image width */
  height: 80px; /* Adjust the image height */
}

.card .info {
  max-width: calc(100% - 120px);
}

.card .info h2 {
  margin: 0;
  font-size: 24px;
  color: #ff009d;
}

.card .info p {
  margin: 5px 0;
}

.card .info button {
  margin-right: 10px;
  background-color: #9a00b9;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.card .info button:hover {
  background-color: #5d0070;
}
.card .info button:active {
  background-color: #5d0070;
  transform: translateY(2px);
}
/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .search-box,
  .results {
      width: 100%;
  }

  .results {
      padding-top: 0;
  }
}
