.profile-container {
  background-color: #fce4ec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.profile-content {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 800px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image-container {
  position: relative;
  margin-right: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-image-upload-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e91e63;
  color: #fff;
  border-radius: 50%;
  padding: 6px;
  border: none;
  cursor: pointer;
}

.profile-image-upload-button .icon {
  width: 16px;
  height: 16px;
}

.profile-header-info {
  flex-grow: 1;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.profile-email {
  font-size: 16px;
  color: #757575;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile-detail {
  display: flex;
  flex-direction: column;
}

.profile-detail-full {
  grid-column: span 2;
}

.profile-detail-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-detail-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-section-button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: -35px;
}

.profile-section-content {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.profile-action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}

.save-button {
  background-color: #e91e63;
  color: #fff;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}
.profile-header-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
}

.my-cart-button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the icon and text */
  margin-top: 10px; /* Add some space between the email and button */
}

.cart-icon {
  font-size: 16px; /* Adjust the size of the cart icon */
}

.my-cart-button:hover {
  background-color: #d81b60;
}
