.navbar {
  background: linear-gradient(45deg, #ffefd4, #f5918b);
  padding: 1rem 0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: "Lora", serif;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: -20px;
}

.navbar .logo {
  max-width: 70px;
  height: auto;
  margin-right: 15px;
}

.navbar .navbar-brand {
  font-size: 2.5rem;
  color: rgb(255, 44, 121);
  font-weight: 700;
}

.navbar .navbar-brand:hover {
  color: hsl(277, 100%, 50%);
}

.navbar .navbar-brand:active {
  color: #814c74;
  font-size: 2.52rem;
}

.navbar .nav-link {
  font-size: 1.2rem;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-weight: 500;
  text-decoration: none; /* Ensure links have no underline */
}

.navbar .nav-link:hover {
  color: hsl(277, 100%, 50%);
  transform: scale(1.1);
}

.navbar .nav-link:active {
  color: rgb(255, 0, 191);
  transform: translate(2px, 2px);
}

.navbar .btn {
  font-size: 20px;
  color: black;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  border: none;
  border: 1px solid rgb(255, 0, 195);
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.1), 0 0 4px rgb(0, 0, 0);
  font-family: "Lora", serif; /* Changed to 'Lora' */
}

.navbar .btn:hover {
  background-color: hsl(277, 100%, 50%);
  color: white;
  transform: scale(1.1);
}
.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.nav-user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #e91e63; /* Same pink color as the h1 tag */
}

